
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}
.font-cinzel {
  font-family: 'Cinzel', serif
}
.letter-spacing {
  letter-spacing: 6px;
}
.bg-image{
  background-image: url('./assets/home/chef-service.jpg');
}
.radius{
  border-radius: 0px 200px 200px 200px;
}
.featured-image{
  background-image: url('./assets/home/featured.jpg');
}
.linear{
  background-image:
  linear-gradient(0deg, rgba(21, 21, 21, 0.70) 0%, rgba(21, 21, 21, 0.70) 100%) ;
}
.custom-classname {
  gap: 5px;
  max-width: 400px;
  width: 100%;
}

.custom-classname .rr--svg {
  border: none;
 
}

.custom-classname .rr--on .rr--svg {
  fill: #D99904;
  
 
}

.custom-classname .rr--off .rr--svg {
  border: none;
  fill: #a1a1a1;
 

  
}
.main-nav >.active{
  color: yellow;
}
.dashboard-nav >.active{
  color: white;
}

.form-bg{
  background-image: url("./assets/reservation/wood-grain-pattern-gray1x.png");
}
option:hover{
  background-color: #D99904;
}
.bg-linear{
 background: linear-gradient(90deg, #835D23 0%, #B58130 100%)
}



@media (min-width: 610px) {
  .custom-classname {
    max-width: 300px;
    gap: 10px;
  }

  .custom-classname .rr--svg {
    padding: 10px;
   
  }
}

